{% extends "base.html" %}
{% block title %}Home - Budget Tracker{% endblock %}

{% block content %}
<h1 class="mb-4">All Expenses</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.category }}</td>
            <td>${{ expense.amount }}</td>
            <td>{{ expense.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ expense.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
